* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: $main-font;
}


section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

header {
  width: 100vw;
height: 60px;
text-align: center;
align-items: center;
color: $dark-cho;
background-color: $white;
display: flex;
justify-content: center;
position: fixed;
position: absolute;
top:0;

}

main {
  background-color: $dark-cho;
  overflow-y: scroll;

  -ms-overflow-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  color: $cream-col;
}

main::-webkit-scrollbar {
  display: none;
}



h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-size: 0.6rem;
  font-weight: 400;
}

h5 {
  font-family: $handwriting;
  font-size: 1.8rem;
}

p {
  font-family: $main-font;
}





select {
  width: 280px;
  height: 35px;
  padding: 4px 20px;
 
  border: none;
  border-radius: 20px;
  
  font-size: 1rem;
  font-family: $main-font;
  outline: none;
  
}



label {
  display: inline-block;
  text-align: right;
  width: 120px;
  font-family: $main-font;


}




input {
  border: none;
  
  width: 200px;
  height: 30px;
  margin-bottom: 6px;
  border-radius: 20px;
  border: none;

  background-color: $half-white;
  margin-left: 6px;
  outline: none;
 
}




ul {
        
    
  text-align: left;
  background-color: $white;
  border-radius: 20px;
  color:$dark-cho;
  padding: 1.4rem;
  margin-bottom: 6px;
}



