$dark-cho: #402015;
$brown-cho: #73412f;
$button-col:#f2a679;

$cream-col:#f2e4c9;
$white: snow;

$dark-shadow: rgba(66, 44, 39, 0.8);
$half-white: rgba(255,255,255,0.5);
$transp: rgba(255,255,255,0.3);



$handwriting: 'Dancing Script', cursive;
$main-font: 'Montserrat', sans-serif;