.btn-short {
    width: 150px;
    color: $cream-col;
    
  }
  

.btn-long {
  width: 280px;
  color: $white;
    
}


  
  .product {
  
  .buy {
    position: absolute;
    bottom: 0;
  }
  
  }
  
  


  
  .arrow-left {
    width: 0; 
    height: 0; 
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    
    border-right:20px solid $dark-cho; 
    left: 10px;
    top: 15px;
  }
  
  